body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.heromain {
    background-color: #1f2937;
    padding: 0 400px;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 100px 0;
}
.hero > div {
    flex: 1;

} 
.heroimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.hsecontext {
    font-size: 18px;
    color:#e5e7eb
}
.hmaintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
button {
    padding: 5px 40px;
    color: #f9faf8;
    font-size: 17px;
    border-style: none;
    border-radius: 10px;
    background-color: #3882f6;
}